Options FollowSymLinks -MultiViews

RewriteEngine on
RewriteCond  %{HTTPS} ^off$
RewriteCond  %{HTTP:X-Forwarded-Proto} =http
#RewriteCond  %{HTTP_HOST}%{REQUEST_URI} (.*)
RewriteRule  (.*) https://%1 [L,R]

SSLVerifyClient				optional
SSLVerifyDepth				4
SSLOptions					+ExportCertData +OptRenegotiate
